.sub_tittle{
    padding: 50px 0;
    font-size: 50px;
    text-align: center;
}
section {
    overflow-y: hidden;
}
.skill_content {
    display: flex;
    flex-direction: row;
    grid-gap: 30px ;         
    position: relative;
    margin: auto;
    width: 80%;
    padding: 50px 100px;
}

.skill_img{
    margin: auto;
}

.skill_icons {
    display: flex;
    flex-direction: column;
    grid-gap: 10px ;         
    position: relative;
    margin: auto;
}
