

.footer{
    margin: auto;
    width: 100%;
    padding: 50px 100px;
    background: #30303052;
}
.footer_logo {
    text-align: right;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 1 px;
    padding: 10px 20px 10px 0;
    color: #fff;
}

.footer_logo span{
    font-family: 'Qahiri', sans-serif;
    color: #e3ff00;
}

.footer_social img {
    padding: 5px;
}

.footer hr{
    width: 100%;
}
.footer .copyrights{
    padding: 20px 0 20px 20px;
}